<section class="c-success">
    <h1 class="c-success__title">Success</h1>
    <div class="c-success_img-container">
        <img src="../../assets/product-list.svg" alt="preview icons of purchases" />
    </div>
    <p class="c-success__subtitle">We would love your feedback</p>
    <form class="c-rating">
        <input class="c-rating__input" type="radio" id="star5" name="star-input" value="5" />
        <label class="c-rating__label" for="star5" title="5 stars">5 stars</label>

        <input class="c-rating__input" type="radio" id="star4" name="star-input" value="4" />
        <label class="c-rating__label" for="star4" title="4 stars">4 stars</label>

        <input class="c-rating__input" type="radio" id="star3" name="star-input" value="3" />
        <label class="c-rating__label" for="star3" title="3 stars">3 stars</label>

        <input class="c-rating__input" type="radio" id="star2" name="star-input" value="2" />
        <label class="c-rating__label" for="star2" title="2 stars">2 stars</label>

        <input class="c-rating__input" type="radio" id="star1" name="star-input" value="1" />
        <label class="c-rating__label" for="star1" title="1 star">1 star</label>
    </form>
    <h2 class="c-success__header">Please collect your purchase</h2>
    <div class="c-success_img-container">
        <img src="../../assets/vending.svg" />
    </div>
</section>